*{
    margin: 0;
    padding: 0
}
h1{
    text-align: center
}
div{
    padding: 2rem 0.64rem;
    width: 740px;
    margin: 0 auto;
    font-size: 14px；
}
span:nth-child(1){
    width: 40%;
}
span:last-child{
    border: none;
}
input{
    outline: none;
    width: 100%;
    line-height: 1.6rem;
    border: none;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    text-align: center
}