*{
    margin: 0;
    padding: 0
}
body,html{
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main{
    height: 100%;
    width: 80%;
    margin: 10rem auto 0 auto;
    text-align: center;
}
.start{
    font-size: 5rem;
    color:#388a38;
    text-align: center;
    height: 100px
}
.movie{
    display: none;
    width: 300px;
    margin: 0 auto
}
.image{
    width: 500px;
    margin: 0 auto;  
    display: none;
}
