<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/b.css">
    <!-- 引入组件库 -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main" id="app">
        <div v-show="isHtml" id="capture">
            <header>
                <img src="./image/head.png" alt="">
            </header>
            <div>
                <div style="padding: 0.86rem 0 0 0.2133rem;line-height: 0.71733rem;" class="ftS28">
                    <span class="tiem-icon"></span>
                    <span><span class="j_date">2019-3-14</span><span style="margin-left:0.64rem" class="j_week">星期四</span></span>
                    <p class="clear"></p>
                </div>
                <div class="message">
                    <p class="j_title">{{title}}</p>
                    <div>
                        <p class="j_message1" v-for="(item,index) in message" :key='index'>{{item}}</p>
                    </div>
                </div>
                <div style="margin-left: 0.8533rem" class="ftS28">
                    <span class="flL">重要程度：</span><p class="flL"><span class="el-icon-star-on ftS28"><span class="el-icon-star-on"><span class="el-icon-star-on"><span class="el-icon-star-on"><span class="el-icon-star-on"></span></p>
                    <p class="clear"></p>
                </div>
                <div class="footer">
                    <div class="flL"><img src="" alt="" id="preview"></div>
                    <div class="flL">
                        <img src="./image/footer-right.png" alt="" >
                        <p class="ftS24">为区块链行业提供最好的服务。</p>
                        <p class="ftS24">集行业新闻、资讯、行情、数据等一站式区块链产业服务平台。</p>
                    </div>
                    <p class="clear"></p>
                </div>
            </div>
        </div>
        <img src="" alt="" id='lastImg'>
        <div class="ftS28 pdLR30" v-if="isEdit" style="padding: 0.64rem">
            <div>
                <p>标题：</p>
                <el-input v-model="title" placeholder="请输入内容"></el-input>
            </div>
            <div style="padding-top:0.64rem">
                <p>内容：</p>
                <ul>
                    <ol v-for="(item,index) in message">
                        <el-input
                            type="textarea"
                            autosize
                            placeholder="请输入内容"
                            v-model="message[index]">
                        </el-input>
                    </ol>
                </ul>
                <div class="ftS40"><i class="el-icon-circle-plus" style="color:#21aeee" @click='addMessage'></i></div>
            </div>
            <div style="padding-top:0.64rem">
                <input type="file" id="upload">
            </div>
            <div @click="beImage" style="padding-top:0.64rem">
                <el-button type="primary" plain>生成图片</el-button>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return { 
                    title:'',
                    message:[''],
                    fileList:[],
                    isEdit:true,
                    isHtml:false,
                }
            },
            methods: {
                addMessage(){
                    this.message.push('')
                },
                beImage(){
                    this.isEdit = false
                    this.isHtml = true
                    // html2canvas(document.querySelector("#capture")).then(canvas => {
                    //     var o = document.getElementById("capture");
                    //     var h = o.offsetHeight; //高度
                    //     var w = o.offsetWidth; //宽度
                    //     // 生成一个a元素
                    //     var img = document.createElement('img');
                    //     var url = canvas.toDataURL('image/png')
                    //     // 将生成的URL设置为a.href属性
                    //     img.src = url;
                    //     img.width = w;
                    //     img.height = h - 5;
                    //     $('.j_maskBox').find(".send-btn").before(img);
                    //     $('.mask').removeClass('hide');
                    // })   
                    html2canvas(document.getElementById("capture"), {
                        allowTaint: true, //允许污染
                        taintTest: true, //在渲染前测试图片(没整明白有啥用)
                        useCORS: true, //使用跨域(当allowTaint为true时这段代码没什么用,下面解释)
                        background: "#fff",
                        onrendered: function (canvas) {
                            imgBlob = canvas.toDataURL('image/jpeg', 1.0); //将图片转为base64
                            // img.src = url;
                            console.log(imgBlob)
                            $('#lastImg').attr('src',imgBlob);
                            // imgBlob = imgBlob.toString().substring(imgBlob.indexOf(",") + 1);//截取base64以便上传
                        }
                    })
                }
            },
            created() {
                var myDate = new Date();
                var week = ['星期日','星期一','星期二','星期三','星期四','星期五','星期六']
                $('.j_date').text(myDate.getFullYear()+'-'+(myDate.getMonth()+ 1) +'-'+ myDate.getDate())
                $('.j_week').text(week[myDate.getDay()])
            }
        })
        $('#upload').change(function () {
            // 获取FileList的第一个元素
            var f = document.getElementById('upload').files[0];
            src = window.URL.createObjectURL(f);
            document.getElementById('preview').src = src
        });
    </script>
</body>
</html>